{% extends "learning_logs/base.html" %}

{% block header %}
  <h2>{{ topic }}</h2>
{% endblock header %}

{% block content %}

  <p>
    <a href="{% url 'learning_logs:new_entry' topic.id %}" class="btn btn-primary">add new entry</a>
  </p>

  {% for entry in entries %}
    <div class="card mb-3">
      <div class="card-header">
        <h5 class="card-title mb-0">
          {{ entry.date_added|date:'M d, Y:i' }}
          <small class="text-muted">
            <a href="{% url 'learning_logs:edit_entry' entry.id %}" class="ms-2">edit entry</a>
          </small>
        </h5>
      </div>
      <div class="card-body">
        <p class="card-text">{{ entry.text|linebreaks }}</p>
      </div>
    </div> <!-- card -->
  {% empty %}
      There are no entries for this topic yet.
  {% endfor %}
  
{% endblock content %}
