{% extends "learning_logs/base.html" %}
{% load django_bootstrap5 %}

{% block header %}
  <h2>Log in to your account.</h2>
{% endblock header %}

{% block content %}

  <form method="post" action="{% url 'users:login' %}" class="form">
    {% csrf_token %}
    
    <!-- 手动创建表单字段 -->
    <div class="mb-3">
      <label for="id_username" class="form-label">Username:</label>
      <input type="text" name="username" class="form-control" id="id_username" required>
    </div>
    
    <div class="mb-3">
      <label for="id_password" class="form-label">Password:</label>
      <input type="password" name="password" class="form-control" id="id_password" required>
    </div>
    
    <div class="form-group">
      <button type="submit" class="btn btn-primary">login</button>
    </div>
    
    <input type="hidden" name="next" value="{% url 'learning_logs:topics' %}" />
  </form>
  
{% endblock content %}